input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.main {
	width: 100%;
	height: 100%;
}
.decoration {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 510px) minmax(auto, 1110px) 1fr;

	&__sidebar {
		padding: 40px 20px 40px 20px;
		margin-right: 30px;
		grid-column: 2/3;
		color: $text-color-light;
		background-color: rgba(31, 112, 127, 0.3);
		backdrop-filter: blur(6px);
	}

	&__content {
		padding: 40px 20px 40px 20px;
		grid-column: 3/4;
		color: $text-color-light;
		background-color: rgba(31, 112, 127, 0.3);
		backdrop-filter: blur(6px);
	}
}
.sidebar-decor {
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 50px;
	}

	&__item {
	}

	&__title {
		font-size: 1.3rem;
	}
}
.form-toys {
	&__wrapper {
		margin-top: 20px;
		display: flex;
		column-gap: 15px;
	}
	&__wrapper button {
		width: 35px;
		height: 35px;
	}
	&__wrapper button:nth-child(1) {
		background: url('./assets/svg/ball.svg') 0 0 / contain no-repeat;
	}
	&__wrapper button:nth-child(2) {
		background: url('./assets/svg/bell.svg') 0 0 / contain no-repeat;
	}
	&__wrapper button:nth-child(3) {
		background: url('./assets/svg/cone.svg') 0 0 / contain no-repeat;
	}
	&__wrapper button:nth-child(5) {
		background: url('./assets/svg/snowflake.svg') 0 0 / contain no-repeat;
	}
	&__wrapper button:nth-child(4) {
		background: url('./assets/svg/toy.svg') 0 0 / contain no-repeat;
	}
}
.color-toys {
	&__wrapper {
		margin-top: 20px;
		display: flex;
		column-gap: 21px;
	}
	&__wrapper button {
		width: 30px;
		height: 30px;
		border-radius: 5px;
	}
	&__wrapper button:nth-child(1) {
		background: #ffffff;
	}
	&__wrapper button:nth-child(2) {
		background: #fdd700;
	}
	&__wrapper button:nth-child(3) {
		background: #fd0000;
	}
	&__wrapper button:nth-child(5) {
		background: #2199eb;
	}
	&__wrapper button:nth-child(4) {
		background: #08aa05;
	}
}
.size-toys {
	&__wrapper {
		margin-top: 20px;
		display: flex;
		align-items: center;
		column-gap: 15px;
	}
	&__wrapper button {
		background: url('./assets/svg/ball.svg') 0 0 / contain no-repeat;
	}
	&__wrapper button:nth-child(1) {
		width: 40px;
		height: 40px;
	}
	&__wrapper button:nth-child(2) {
		width: 35px;
		height: 35px;
	}
	&__wrapper button:nth-child(3) {
		width: 30px;
		height: 30px;
	}
}
.count-toys {
	&__wrapper {
	}
}
.year-toys {
	&__wrapper {
	}
}

.like-toys {
	display: flex;
	align-items: center;
	&__checkbox {
		display: none;
	}

	&__checkbox:checked + &__label::after {
		content: '';
		display: block;
		position: absolute;
		top: 5px;
		left: 10px;
		width: 8px;
		height: 13px;
		border: solid #fff;
		border-width: 0 4px 4px 0;
		transform: rotate(45deg);
	}

	&__label {
		position: relative;
		display: flex;
		width: 30px;
		height: 30px;
		backdrop-filter: blur(6px);
		border: 1px solid #278d9f;
		border-radius: 5px;
		padding: 0;
		margin: 0;
		margin-left: 20px;
		cursor: pointer;
		transition: 0.5s;
	}
}

.content-decor {
	display: grid;
	grid-template: auto 1fr / 1fr 1fr;
	row-gap: 50px;

	&__title {
		grid-row: 1/2;
		grid-column: 1/2;
		font-size: 2rem;
	}

	&__select {
		grid-row: 1/2;
		grid-column: 2/3;
		justify-self: end;
		width: 350px;
		height: 40px;
		appearance: none;
		padding-left: 20px;
		background-color: rgba(31, 112, 127, 0.3);
		background-image: url('./assets/svg/arrow-down.svg');
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: 310px center;
		backdrop-filter: blur(6px);
		border-radius: 30px;
		border: 1px solid #278d9f;
		font-size: 1.1rem;
		color: $text-color-light;
		cursor: pointer;
	}

	&__select option {
		background-color: #1e5157;
	}

	&__gallery {
		grid-row: 2/3;
		grid-column: 1/3;
	}
}
.gallery-toys {
	&__title {
		font-size: 1.6rem;
	}

	&__items {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 20px;
	}

	&__item {
	}
}
.toy {
	&.hide {
		display: none;
	}

	padding: 30px 20px;
	display: grid;
	grid-template: auto 1fr / 100px 1fr;
	row-gap: 25px;
	column-gap: 15px;
	border-radius: 10px;
	background: $bg-color;
	user-select: none;
	cursor: pointer;

	&__name {
		grid-row: 1/2;
		grid-column: 1/3;
		justify-self: center;
		font-size: 1.2rem;
	}

	&__image {
		grid-row: 2/3;
		grid-column: 1/2;
		justify-self: center;
		align-self: center;
		width: 90px;
		height: 90px;
	}

	&__list {
		grid-row: 2/3;
		grid-column: 2/3;
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	&__item {
		font-size: 1.1rem;
	}
}

.slider {
	margin-top: 20px;
	display: flex;
	align-items: center;
	column-gap: 30px;

	&__border {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 40px;
		border: 1px solid #278d9f;
		border-radius: 30px;
		background-color: rgba(31, 112, 127, 0.3);
		font-size: 1.1rem;
	}

	&__range {
		width: 100%;
		max-width: 180px;
		cursor: e-resize;
	}
}

.noUi-connect {
	background: #278d9f;
}

.noUi-target {
	background: #ffffff;
	border: none;
	box-shadow: none;
	height: 8px;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}

.noUi-horizontal .noUi-handle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	right: -10px;
}

.noUi-touch-area {
	cursor: e-resize;
}

.settings-reset {
	margin-top: 50px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 10px 80px;
	font-size: 1.5rem;
	color: $text-color-light;
	border: 1px solid #278d9f;
	border-radius: 25px;
	background-color: rgba(31, 112, 127, 0.3);
	backdrop-filter: blur(6px);
}
