.christmas-game {
	height: 100%;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 480px) minmax(300px, 660px) minmax(auto, 480px) 1fr;
	color: $text-color-light;
	background-color: rgba(31, 112, 127, 0.3);
	backdrop-filter: blur(6px);

	&__settings {
		padding: 40px 20px;
		grid-column: 2/3;
	}

	&__place-tree {
		position: relative;
		grid-column: 3/4;
		background-image: url('./assets/bg/1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 10px 20px;
	}

	&__garland-wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 20px;
		z-index: 100;
	}

	&__lightrope {
	}

	&__lightrope li {
		position: relative;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		margin: 20px 3px;
		display: inline-block;
		background: #00f7a5;
		-webkit-animation-name: flash-1;
		animation-name: flash-1;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
	}

	&__lightrope li:nth-child(4n + 1).active {
		background: cyan;
		box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
		-webkit-animation-name: flash-2;
		animation-name: flash-2;
		-webkit-animation-duration: 0.4s;
		animation-duration: 0.4s;
	}

	&__lightrope li:nth-child(4n + 2).active {
		background: #f70094;
		box-shadow: 0px 4.66667px 24px 3px #f70094;
		-webkit-animation-name: flash-3;
		animation-name: flash-3;
		-webkit-animation-duration: 1.1s;
		animation-duration: 1.1s;
	}

	&__lightrope li:nth-child(4n + 3).active {
		background: #c48716;
		box-shadow: 0px 4.66667px 24px 3px #e0cb52;
		-webkit-animation-name: flash-4;
		animation-name: flash-4;
		-webkit-animation-duration: 0.8s;
		animation-duration: 0.8s;
	}

	&__lightrope li:nth-child(odd) {
		-webkit-animation-duration: 0.6s;
		animation-duration: 0.6s;
	}

	&__tree.snow {
		background-image: url('./assets/snow/snow.png'), url('./assets/snow/snow3.png'), url('./assets/snow/snow2.png');
		animation: snow 20s linear infinite;
	}

	&__tree {
		display: flex;
		justify-content: center;
		z-index: 10;
	}

	&__tree img {
		max-width: 500px;
		max-height: 700px;
		z-index: 5;
	}

	&__prepared-decorations {
		padding: 40px 20px;
		grid-column: 4/5;
	}
}

@-webkit-keyframes flash-1 {
	0%,
	100% {
		background: #00f7a5;
		box-shadow: 0px 4.66667px 24px 3px #00f7a5;
	}
	50% {
		background: rgba(0, 247, 165, 0.4);
		box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
	}
}

@keyframes flash-1 {
	0%,
	100% {
		background: #00f7a5;
		box-shadow: 0px 4.66667px 24px 3px #00f7a5;
	}
	50% {
		background: rgba(0, 247, 165, 0.4);
		box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
	}
}

@-webkit-keyframes flash-2 {
	0%,
	100% {
		background: cyan;
		box-shadow: 0px 4.66667px 24px 3px cyan;
	}
	50% {
		background: rgba(0, 255, 255, 0.4);
		box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
	}
}

@keyframes flash-2 {
	0%,
	100% {
		background: cyan;
		box-shadow: 0px 4.66667px 24px 3px cyan;
	}
	50% {
		background: rgba(0, 255, 255, 0.4);
		box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
	}
}

@-webkit-keyframes flash-3 {
	0%,
	100% {
		background: #f70094;
		box-shadow: 0px 4.66667px 24px 3px #f70094;
	}
	50% {
		background: rgba(247, 0, 148, 0.4);
		box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
	}
}

@keyframes flash-3 {
	0%,
	100% {
		background: #f70094;
		box-shadow: 0px 4.66667px 24px 3px #f70094;
	}
	50% {
		background: rgba(247, 0, 148, 0.4);
		box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);
	}
}

@-webkit-keyframes flash-4 {
	0%,
	100% {
		background: #c48716;
		box-shadow: 0px 4.66667px 24px 3px #c48716;
	}
	50% {
		background: #e0cb52;
		box-shadow: 0px 4.66667px 24px 3px #e0cb52;
	}
}

@keyframes flash-4 {
	0%,
	100% {
		background: #c48716;
		box-shadow: 0px 4.66667px 24px 3px #c48716;
	}
	50% {
		background: #e0cb52;
		box-shadow: 0px 4.66667px 24px 3px #e0cb52;
	}
}

.settings-game {
	display: flex;
	flex-direction: column;
	row-gap: 40px;

	&__snow-audio-container {
		display: flex;
		column-gap: 30px;
	}

	&__snow {
		width: 35px;
		height: 35px;
		background-image: url('./assets/svg/snow.svg');
		background-size: contain;
	}

	&__snow.active,
	&__audio.active {
		filter: invert(27%) sepia(15%) saturate(5120%) hue-rotate(161deg) brightness(89%) contrast(88%);
	}

	&__audio {
		width: 35px;
		height: 35px;
		background-image: url('./assets/svg/audio.svg');
		background-size: contain;
	}

	&__trees {
	}

	&__title {
		font-size: 1.3rem;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__trees-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
		gap: 20px;
	}

	&__trees-item {
		position: relative;
		overflow: hidden;
		padding: 0 0 150% 0;
	}

	&__trees-item img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&__background {
	}

	&__background-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
		gap: 10px;
	}

	&__background-item {
		position: relative;
		overflow: hidden;
		padding: 0 0 100% 0;
		border-radius: 10px;
	}

	&__background-item img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&__garland {
	}

	&__garland-wrapper {
	}
}
.prepared-decorations {
	display: flex;
	flex-direction: column;
	row-gap: 40px;

	&__toys {
	}

	&__toys-title {
	}

	&__toys-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(60px, auto));
		gap: 15px;
	}

	&__toys-item {
		position: relative;
		overflow: hidden;
		padding: 0 0 100% 0;
	}

	&__toys-item img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__toys-item-count {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 25px;
		border-radius: 50%;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgb(15, 91, 114);
	}

	&__trees {
	}

	&__title {
		font-size: 1.3rem;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__trees-wrapper {
	}
}

@keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

@-moz-keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}

@-webkit-keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	50% {
		background-color: #b4cfe0;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
		background-color: #6b92b9;
	}
}

@-ms-keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}
